
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul, li {
    list-style: none;
    padding: 0;
}

.btn {
    cursor: pointer;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 99, 71, 0.9);
    border-radius: 20px;
}

.todo-list {
    width: 200px;
    height: 80vh;
}

.finish-list {
    width: 200px;
    height: 80vh;
}

.js-title {
    font-size: 50px;
}
.js-toDoForm input,
.js-form input {
    height: 30px;
    border-radius: 15px;
    text-align: center;
    outline-style: none;
    border-style: none;
    margin-bottom: 25px;
}
.todo-list,
.finish-list {
    color: black;
    box-shadow: 0 0 10px 1px white;
}

.todo-list h1,
.finish-list h1 {
    text-align: center;
}

.js-toDoList li,
.js-finishList li {
    display: flex;
    
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.js-toDoList li {
    background-color: cornflowerblue;
}

.js-finishList li {
    background-color: lightcoral;
}

.js-toDoList li span,
.js-finishList li span {
    text-align: center;
    width: 85%;
}
.js-toDoList li button,
.js-finishList li button {
    width: 15%;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 5px;
}